body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #E5E5E5;
}
.container {
    width: 100%;
    max-width: 320px;
}
header {
 width: 100%;
 height: 9rem;
}
.logo-alura {
    margin: 24px 0 0 16px;
    width: 32px
}
.text-before {
    padding: 0px 0px 0px 0px;
    width: 80%;
    height: 150px;

}